[default]
wiki_url: https://torque.leverforchange.org/DemoView/
username: ***************
password: ***************
omit_colophon: true
title_tmpl: {135}
sec_map: | {{{{ #tdcrender:DemoView/id/{4}.mwiki }}}}
