/* This disables some of the Special:Log inputs */
.rootpage-Special_Log .mw-usertoollinks {
  display:none;
}
.rootpage-Special_Log .comment {
  display:none;
}
.rootpage-Special_Log .mw-htmlform-field-HTMLTagFilter {
  display:none;
}
.rootpage-Special_Log .mw-htmlform-field-HTMLMultiSelectField {
  display:none;
}
#mw-input-pluggableauthlogin {
  background-color:#9056a9;
}
.mw-htmlform-login-or {margin-top:50px;
  display:flex;
}
.mw-htmlform-login-or:before, .mw-htmlform-login-or:after {
  color:white;
  content:'';
  flex:1;
  border-bottom:2px solid black;
  margin:auto 0.25em;
}
