[default]
wiki_url: https://torque.leverforchange.org/EO2020/
username: ***************
password: ***************
omit_colophon: true
title_tmpl: {135}
sec_map: | {{{{ #tdcrender:EO2020/id/{4}.mwiki }}}}
