<?php
$wgHooks['BeforeInitialize'][] = function(&$title, &$article = null, &$output, &$user, $request, $mediaWiki) {
  global $wgSimpleBookPassthroughParameters,
    $wgSimpleBookRenderingCredentials,
    $wgTorqueGroup,
    $wgTorqueRenderToHTML,
    $wgTorqueView;
  $group = TorqueConfig::getValidGroup($user);
  $view = $wgTorqueView ?: "";
  $wgSimpleBookPassthroughParameters = [
    'torqueGroup' => $group,
    'torqueView' => $view,
  ];
  $wgSimpleBookRenderingCredentials = [
    'username' => '{{ mediawiki_mwlib_username }}',
    'password' => '{{ mediawiki_mwlib_password }}',
  ];

  if($user && strtolower($user->getName()) == "{{ mediawiki_mwlib_username }}") {
    $wgTorqueRenderToHTML = false;
    $wgTorqueGroup = $request->getText('torqueGroup', false);
    $wgTorqueView = $request->getText('torqueView', false);
  }
};
?>
