<?php
require_once "$IP/extensions/SimpleBook/SimpleBook.php";

if(isset($wgPickSomeLoaded)) {
  echo "PickSome Loaded before SimpleBook, so bombing out";
  throw new RunTimeException("SimpleBook being loaded after PickSome");
}
if(isset($wgCollectionMaxArticles)) {
  echo "Collection is loaded, so bombing out";
  throw new RunTimeException("SimpleBook and Collection cannot both be installed on the same wiki");
}
$wgSimpleBookRenderingApiUrl = 'http://127.0.0.1:3333';
$wgCollectionMaxArticles = 250;
$wgEnableApi = true;
$wgCollectionFormats = array( 'rl' => 'PDF',);
$wgCollectionPortletFormats = [];
$wgCollectionDisableDownloadSection = false;
?>
