<?php
$wgHooks['BeforeInitialize'][] = function(&$title, &$article = null, &$output, &$user, $request, $mediaWiki) {
  global $wgSimpleBookPassthroughParameters,
    $wgSimpleBookRenderingCredentials,
    $wgTorqueDataConnectGroup,
    $wgTorqueDataConnectRenderToHTML,
    $wgTorqueDataConnectView;
  $group = TorqueDataConnectConfig::getValidGroup($user);
  $view = TorqueDataConnectConfig::getCurrentView() ?: "";
  $wgSimpleBookPassthroughParameters = [
    'torqueGroup' => $group,
    'torqueView' => $view,
  ];
  $wgSimpleBookRenderingCredentials = [
    'username' => '{{ mediawiki_mwlib_username }}',
    'password' => '{{ mediawiki_mwlib_password }}',
  ];

  if($user && strtolower($user->getName()) == "{{ mediawiki_mwlib_username }}") {
    $wgTorqueDataConnectRenderToHTML = false;
    $wgTorqueDataConnectGroup = $request->getText('torqueGroup', false);
    $wgTorqueDataConnectView = $request->getText('torqueView', false);
  }
};
?>
