[default]
wiki_url: ### URL to local or remote wiki, e.g., http://localhost/mwiki ###
username: ### wiki username here ###
password: ### wiki login password here ###
title_tmpl: Entry_{0}_{1}
toc_name: Test_TOC
cat_col: 12
col_map: 1 Organization
         15 Review Number
         12 Topic
         61 Total Score
         16 Executive Summary
         39 Problem Statement
         40 Proposed Solution
         90 Pitch Video Link
         2 Location
         3 Legal Status
         4 Legal Status - Other
         5 Registration Location - Other
         6 City
         7 State / Province / Region
         8 Postal Code
         9 Country
         10 Phone Number
         11 Area of Org Expertise
         13 Hear about 100 and Change Selection
         14 Hear about 100 and Change Notes
         17 Team Purpose
         18 Legal Entity Name
         porg Principle Organization Info
         porg.19 Principal Org Contact Name
         porg.20 Principal Org Contact Title
         porg.21 Principal Org Contact Phone
         porg.22 Principal Org Contact Email
         porg.23 Principal Org Registration Location
         porg.24 Principal Org Legal Status
         porg.25 Principal Org Legal Status - Other
         porg.26 Principal Org Legal Status - Other - Notes
         porg.27 Principal Org Jurisdiction
         porg.28 Principal Org Jurisdiction - Other
         porg.29 Principal Org City
         porg.30 Principal Org State / Province
         porg.31 Principal Org Postal Code
         porg.32 Principal Org Country
         porg.33 Principal Org Primary Area of Expertise - Dropdown
         porg.34 Principal Org Primary Area of Expertise - Notes
         porg.35 Principal Org Primary Thematic Area of Proposed Solution - Dropdown
         porg.36 Principal Org Primary Thematic Area of Proposed Solution - Notes
         37 Team Structure
         38 Why Collaboration is Effective
         countrystate Country / State Information
         countrystate.41 Country/State 1
         countrystate.42 Country/State 2
         countrystate.43 Country/State 3
         44 Oceans/Space/Global
         45 Other Work Location
         46 Tactics and Technology
         47 Timeline and Key Milestones
         48 Evidence of Effectiveness
         49 Risk Assessment
         50 Plan Monitoring/Evaluation/Learning
         51 Previous Performance
         52 Organizational Capacity
         53 Budget Narrative
         54 Resource Requirements and Sustainability
         55 Other Considerations
         56 Charitable Purpose
         57 Private Benefit
         58 Lobbying Activities
         59 Human Subjects Research
         60 Team Story
         62 Meaningful?
         62.66 Meaningful? - Comment 1
         62.67 Meaningful? - Comment 2
         62.68 Meaningful? - Comment 3
         62.69 Meaningful? - Comment 4
         62.70 Meaningful? - Comment 5
         63 Verifiable?
         63.71 Verifiable? - Comment 1
         63.72 Verifiable? - Comment 2
         63.73 Verifiable? - Comment 3
         63.74 Verifiable? - Comment 4
         63.75 Verifiable? - Comment 5
         64 Feasible?
         64.76 Feasible? - Comment 1
         64.77 Feasible? - Comment 2
         64.78 Feasible? - Comment 3
         64.79 Feasible? - Comment 4
         64.80 Feasible? - Comment 5
         65 Durable?
         65.81 Durable? - Comment 1
         65.82 Durable? - Comment 2
         65.83 Durable? - Comment 3
         65.84 Durable? - Comment 4
         65.85 Durable? - Comment 5
         86 Valid Submission
         87 Big Bet / Enduring Commitment Alignment
         88 Reason For Turndown
         89 Comments
last_cat: No Primary Thematic Area Selected
keep_empty: <span style="color: red; font-family: monospace;">[empty]</span>

