[default]
wiki_url: ### URL to local or remote wiki, e.g., http://localhost/mwiki ###
username: ### wiki username here ###
password: ### wiki login password here ###
title_tmpl: {15}_{1}
toc_name: Proposals_TOC
sec_map: . Organization
           1
         . Review Number
           15
         . Executive Summary
           16
         . Problem
           39
         . Solution
           40
         . Previous Performance
           51
         . Pitch Video Link
           90
         . Team Story
           60
keep_empty: <span style="color: red; font-family: monospace;">[empty]</span>
