[default]
wiki_url: https://macfound-partners.opentechstrategies.com/mwiki/
username: csv2wiki
password: ### login password for user 'csv2wiki' here ###
title_tmpl: {1} ({15})
toc_name: Proposals_TOC
cat_col: 12
sec_map: . Organization
           1
         . Review Number
           15
         . Executive Summary
           16
         . Problem
           39
         . Solution
           40
         . Previous Performance
           51
         . Pitch Video Link
           90
         . Team Story
           60
         . Risk Assessment
           49
         . Category
           12
last_cat: No Primary Thematic Area Selected
keep_empty: <span style="color: red; font-family: monospace;">[empty]</span>
