[default]
wiki_url: https://macfound.opentechstrategies.com/mwiki/
username: ***************
password: ***************
title_tmpl: {28} ({4})
toc_name: Draft_TOC
# cat_col: 124
sec_map: . Title
           28      # Project Title
         . Description
           29      # Project Description
         . {30}
           30      # Executive Summary
         . Problem and Solution
           52      # Problem Statement
           53      # Demand to Adress The Problem
           54      # Solution Overview
         . {31}
           31      # Youtube Video
         . {39}
           39      # Why Your Team
         . {35}
           35      # Primary Area of Expertise
         ... {36}
           36      # Primary Area of Expertise ID
         . {37}
           37      # Team Collaboration
         . {38}
           38      # Case of Partnership
         . {55}
           55      # Technical Process Description
         . {56}
           56      # Priority Populations
         ... {57}
           57      # Priority Populations IDs
         . {58}
           58      # Diversity Equity and Inclusion
         . {59}
           59      # Opportunities and Accomodations
         . {60}
           60      # Theory of Change
         . {61}
           61      # Barrier Assessment and Risk Mitigation
         . {62}
           62      # Primary Subject Area
         ... {63}
           63      # Subject Area ID
         . {124}
           124     # Sustainable Development Goals
         . {125}
           125     # Solution Stage
         . {126}
           126     # Key Words
         . {127}
           127     # Evidence of Effectiveness
         . {128}
           128     # Type of Evidence
         . {129}
           129     # Monitoring Evaluation and Learning
         . {130}
           130     # Planning for Scale and Amplifying Impact
         . {131}
           131     # Durability of Impact
         . {132}
           132     # Bibliography
         . Project Phases
         .. Phase 1
         ... Name
           133     # Project Phase #1: Name
         ... Duration
           134     # Project Phase #1: Duration
         ... Description
           135     # Project Phase #1: Description
         ... Budget Sub-Total
           156     # Phase #1: Budget Sub-Total
         .. Phase 2
         ... Name
           136     # Project Phase #2: Name
         ... Duration
           137     # Project Phase #2: Duration
         ... Description
           138     # Project Phase #2: Description
         ... Budget Sub-Total
           157     # Phase #2: Budget Sub-Total
         .. Phase 3
         ... Name
           139     # Project Phase #3: Name
         ... Duration
           140     # Project Phase #3: Duration
         ... Description
           141     # Project Phase #3: Description
         ... Budget Sub-Total
           158     # Phase #3: Budget Sub-Total
         . Total Resource Requirements
           142     # Total Resourse Requirementes [sic]
         . Contact Info
         .. Primary Contact
            17     # Primary Contact Title
            15     # Primary Contact First Name
            16     # Primary Contact Last Name
            18     # Primary Contact Phone
            19     # Primary Contact Email
         .. Secondary Contact
            22     # Secondary Contact Title
            20     # Secondary Contact First Name
            21     # Secondary Contact Last Name
            23     # Secondary Contact Phone
            24     # Secondary Contact Email
         . Organization Information
           32      # Principal Organization
           33      # Principal Organization Website or Social Media
           34      # Project Website or Social Media Page
           5       # Organization Legal Name
           6       # Country
           # 7     # Country ID
           8       # State
           # 9     # State ID
           10      # Locality
           # 11    # Locality ID
           12      # Street Address
           13      # City
           14      # Zip Postal Code
           159     # Financial Sustainability
           160     # Other Resourse Requirements
           161     # Charitable Purpose
           162     # Private Benefit
           163     # Lobbying Activities
           164     # Human Subject Research
           165     # Intellectual Property
           166     # Identification Number of Principal Organization
           167     # Identification Number of Principal Organization ein
           168     # Annual Operating Budget
           169     # Number of Employees
         .. {25}
           25      # Organization Legal Status
         . Key Staff
         .. Key Staff 1
           40      # Key Staff #1: Firstname
           41      # Key Staff #1: Lastname
           42      # Key Staff #1: Association
         ... Biography
           43      # Key Staff #1: Biography
         .. Key Staff 2
           44      # Key Staff #2: Firstname
           45      # Key Staff #2: Lastname
           46      # Key Staff #2: Association
         ... Biography
           47      # Key Staff #2: Biography
         .. Key Staff 3
           48      # Key Staff #3: Firstname
           49      # Key Staff #3: Lastname
           50      # Key Staff #3: Association
         ... Biography
           51      # Key Staff #3: Biography
         . Current Solution Countries
         .. Current Solution Country 1
         ... Location
           64      # Location Of Current Solution Country
         .... Country ID
           65      # Location Of Current Solution Country id
         ... State/Province
           66      # Location Of Current Solution State
         .... State/Province ID
           67      # Location Of Current Solution State id
         ... Locality
           68      # Location Of Current Solution Locality
         .... Locality ID
           69      # Location Of Current Solution Locality id
         .. Current Solution Country 2
         ... Location
           70      # Location Of Current Solution2 Country
         .... Country ID
           71      # Location Of Current Solution2 Country id
         ... State/Province
           72      # Location Of Current Solution2 State
         .... State/Province ID
           73      # Location Of Current Solution2 State id
         ... Locality
           74      # Location Of Current Solution2 Locality
         .... Locality ID
           75      # Location Of Current Solution2 Locality id
         .. Current Solution Country 3
         ... Location
           76      # Location Of Current Solution3 Country
         .... Country ID
           77      # Location Of Current Solution3 Country id
         ... State/Province
           78      # Location Of Current Solution3 State
         .... State/Province ID
           79      # Location Of Current Solution3 State id
         ... Locality
           80      # Location Of Current Solution3 Locality
         .... Locality ID
           81      # Location Of Current Solution3 Locality id
         .. Current Solution Country 4
         ... Location
           82      # Location Of Current Solution4 Country
         .... Country ID
           83      # Location Of Current Solution4 Country id
         ... State/Province
           84      # Location Of Current Solution4 State
         .... State/Province ID
           85      # Location Of Current Solution4 State id
         ... Locality
           86      # Location Of Current Solution4 Locality
         .... Locality ID
           87      # Location Of Current Solution4 Locality id
         .. Current Solution Country 5
         ... Location
           88      # Location Of Current Solution5 Country
         .... Country ID
           89      # Location Of Current Solution5 Country id
         ... State/Province
           90      # Location Of Current Solution5 State
         .... State/Province ID
           91      # Location Of Current Solution5 State id
         ... Locality
           92      # Location Of Current Solution5 Locality
         .... Locality ID
           93      # Location Of Current Solution5 Locality id
         . Future Work Countries
         .. Future Work Country 1
         ... Country
           94      # Location Of Future Work Country
         .... Country ID
           95      # Location Of Future Work Country id
         ... State/Province
           96      # Location Of Future Work State
         .... State/Province ID
           97      # Location Of Future Work State id
         ... Locality
           98      # Location Of Future Work Locality
         .... Locality ID
           99      # Location Of Future Work Locality id
         .. Future Work Country 2
         ... Country
           100     # Location Of Future Work2 Country
         .... Country ID
           101     # Location Of Future Work2 Country id
         ... State/Province
           102     # Location Of Future Work2 State
         .... State/Province ID
           103     # Location Of Future Work2 State id
         ... Locality
           104     # Location Of Future Work2 Locality
         .... Locality ID
           105     # Location Of Future Work2 Locality id
         .. Future Work Country 3
         ... Country
           106     # Location Of Future Work3 Country
         .... Country ID
           107     # Location Of Future Work3 Country id
         ... State/Province
           108     # Location Of Future Work3 State
         .... State/Province ID
           109     # Location Of Future Work3 State id
         ... Locality
           110     # Location Of Future Work3 Locality
         .... Locality ID
           111     # Location Of Future Work3 Locality id
         .. Future Work Country 4
         ... Country
           112     # Location Of Future Work4 Country
         .... Country ID
           113     # Location Of Future Work4 Country id
         ... State/Province
           114     # Location Of Future Work4 State
         .... State/Province ID
           115     # Location Of Future Work4 State id
         ... Locality
           116     # Location Of Future Work4 Locality
         .... Locality ID
           117 Location Of Future Work4 Locality id
         .. Future Work Country 5
         ... Country
           118     # Location Of Future Work5 Country
         .... Country ID
           119     # Location Of Future Work5 Country id
         ... State/Province
           120     # Location Of Future Work5 State
         .... State/Province ID
           121     # Location Of Future Work5 State id
         ... Locality
           122     # Location Of Future Work5 Locality
         .... Locality ID
           123     # Location Of Future Work5 Locality id
         . Funders
         .. Funder 1
         ... Name
           143     # Funder #1: Name
         ... First Year of Funding
           144     # Funder #1: First Year of Funding
         ... Last Year of Funding
           145     # Funder #1: Last Year of Funding
         ... Amount of Funding
           146     # Funder #1: Amount of Funding
         .. Funder 2
         ... Name
           147     # Funder #2: Name
         ... First Year of Funding
           148     # Funder #2: First Year of Funding
         ... Last Year of Funding
           149     # Funder #2: Last Year of Funding
         ... Amount of Funding
           150     # Funder #2: Amount of Funding
         .. Funder 3
         ... Name
           151     # Funder #3: Name
         ... First Year of Funding
           152     # Funder #3: First Year of Funding
         ... Last Year of Funding
           153     # Funder #3: Last Year of Funding
         ... Amount of Funding
           154     # Funder #3: Amount of Funding
         . {155}
           155     # Budget Narrative
         . Competition Information
         ... {4}
           4       # Review Number
         ... {1}
           1       # Participant key
         ... {2}
           2       # Competition Domain
         ... {3}
           3       # Participant key and Domain
         ... {26}
           26      # Did Apply
         ... How heard about?
           27      # Hear About
last_cat: No Primary Thematic Area Selected
keep_empty: <span style="color: red; font-family: monospace;">[empty]</span>
