[default]
wiki_url: https://macfound.opentechstrategies.com/lfc/
username: ***************
password: ***************
title_tmpl: {31} ({4})
toc_name: 2019_100Change_TOC
cat_col: 67
default_cat: No Primary Subject Area Category Selected
last_cat: No Primary Subject Area Category Selected
sec_map: | {{{{Sidebar|
         | title={31}|
         | number={4}|
         | org={8}|
         | country={13}|
         | locality={9}|
         | first_name={18}|
         | last_name={19}|
         | contact_title={20}|
         | email={22}|
         | legal_status={28}|
         | video={34}|
         | priority_population={59}|
         | primary_subject_area={65}|
         | current_solution_country_1={69}|
         | current_solution_country_2={75}|
         | current_solution_country_3={81}|
         | future_work_country={99}|
         | sdg={129}|
         | key_words={131}|
         | annual_operating_budget={173}|
         | num_employees={174}|
         | description={32}|
         | attachments={180}
         | }}}}
         # Project Description:
         | '''{32}'''
         # Executive Summary:
         . {33}
         | {33}
         | <hr/>
         | 
         | __TOC__
         . Problem and Solution
         # Problem Statement:
         | {55}
         # Demand to Adress The Problem:
         | {56}
         # Solution Overview:
         | {57}
         # Youtube Video:
         . {34}
         | {34}
         | <div class="noprint">{{{{#evu:{34}}}}}</div>
         # Why Your Team:
         . Team
         .. About Your Team
         | <p style="padding-left: 30px;">{42}</p>
         # Case of Partnership:
         .. {41}
         | <p style="padding-left: 30px;">{41}</p>
         . Key Staff Biographies
         # Key Staff #1: Firstname, Key Staff #1: Lastname Key Staff #1: Association:
         | '''{43} {44}, {45}'''
         # Key Staff #1: Biography:
         | {46}
         # Key Staff #2: Firstname, Key Staff #2: Lastname:, Key Staff #2: Association:
         | '''{47} {48}, {49}'''
         # Key Staff #2: Biography:
         | {50}
         # Key Staff #3: Firstname, Key Staff #3: Lastname:, Key Staff #3: Association:
         | '''{51} {52}, {53}'''
         # Key Staff #3: Biography:
         | {54}
         # Technical Process Description:
         . {58}
         | <p style="padding-left: 30px;">{58}</p>
         # Diversity Equity and Inclusion:
         . {61}
         | <p style="padding-left: 30px;">{61}</p>
         # Opportunities and Accomodations:
         .. {62}
         | <p style="padding-left: 30px;">{62}</p>
         # Theory of Change:
         . {63}
         | <p style="padding-left: 30px;">{63}</p>
         # Barrier Assessment and Risk Mitigation:
         .. {64}
         | <p style="padding-left: 30px;">{64}</p>
         # Evidence of Effectiveness:
         . {132}
         | <p style="padding-left: 30px;">{132}</p>
         # Type of Evidence:
         .. {133}
         | <p style="padding-left: 30px;">{133}</p>
         # Solution Stage:
         .. {130}
         | <p style="padding-left: 30px;">{130}</p>
         # Monitoring Evaluation and Learning:
         . {134}
         | <p style="padding-left: 30px;">{134}</p>
         # Planning for Scale and Amplifying Impact:
         . Scaling
         | <p style="padding-left: 30px;">{135}</p>
         # Durability of Impact:
         . Durability
         | <p style="padding-left: 30px;">{136}</p>
         . Project Phases and Budget Summary
         .. Phase 1
         | <p style="padding-left: 30px;">
         | '''Name:''' {138}<br />
         | '''Duration:''' {139}<br />
         | '''Description:''' {140}<br />
         | '''Budget Sub-Total:''' {161}
         | </p>
         .. Phase 2
         | <p style="padding-left: 30px;">
         | '''Name:''' {141}<br />
         | '''Duration:''' {142}<br />
         | '''Description:''' {143}<br />
         | '''Budget Sub-Total:''' {162}
         | </p>
         .. Phase 3
         | <p style="padding-left: 30px;">
         | '''Name:''' {144}<br />
         | '''Duration:''' {145}<br />
         | '''Description:''' {146}<br />
         | '''Budget Sub-Total:''' {163}
         | </p>
         .. Other Resource Requirements
         | <p style="padding-left: 30px;">{165}</p>
         .. Total Resource Requirements
         # Total Resourse Requirementes [sic]:
         | <p style="padding-left: 30px;">{147}</p>
         . Budget Narrative, Financial Sustainability, and Funders
         # Budget Narrative:
         | <p style="padding-left: 30px;">{160}</p>
         .. Financial Sustainability
         | <p style="padding-left: 30px;">{164}</p>
         .. Funders
         | <p style="padding-left: 30px;">
         # Funder #1: Name:
         | '''Funder 1:''' {148}<br />
         # Funder #1: First Year of Funding:
         | '''First Year of Funding:''' {149}<br />
         # Funder #1: Last Year of Funding:
         | '''Last Year of Funding:''' {150}<br />
         # Funder #1: Amount of Funding:
         | '''Amount of Funding:''' {151}
         | </p>
         | <br />
         | <p style="padding-left: 30px;">
         # Funder #2: Name:
         | '''Funder 2:''' {152}<br />
         # Funder #2: First Year of Funding:
         | '''First Year of Funding:''' {153}<br />
         # Funder #2: Last Year of Funding:
         | '''Last Year of Funding:''' {154}<br />
         # Funder #2: Amount of Funding:
         | '''Amount of Funding:''' {155}
         | </p>
         | <br />
         | <p style="padding-left: 30px;">
         # Funder #3: Name:
         | '''Funder 3:''' {156}<br />
         # Funder #3: First Year of Funding:
         | '''First Year of Funding:''' {157}<br />
         # Funder #3: Last Year of Funding:
         | '''Last Year of Funding:''' {158}<br />
         # Funder #3: Amount of Funding:
         | '''Amount of Funding:''' {159}
         | </p>
         . Legal and Financial Data
         | <p style="padding-left: 30px;">
         | '''Organization Legal Status:''' {28}<br />
         | '''Identifier:''' {171}<br />
         | '''Identification Number of Principal Organization EIN:''' {172}<br />
         | '''Lobbying Activities:''' {168}<br />
         | '''Human Subject Research:''' {169}<br />
         | '''Intellectual Property:''' {170}<br />
         | '''Charitable Purpose:''' {166}<br />
         | '''Private Benefit:''' {167}<br />
         | '''Annual Operating Budget:''' {173}<br />
         | '''Number of Employees:''' {174}
         | </p>
         . Organization Contact Info
         .. Primary Contact
         # Primary Contact Title, Primary Contact First Name, Primary Contact Last Name:
         | <p style="padding-left: 30px;">
         | {18} {19} ({20})<br />
         # Primary Contact Phone:
         | {21}<br />
         # Primary Contact Email:
         | {22}
         | </p>
         .. Organization Information
         | <p style="padding-left: 30px;">
         # Principal Organization:
         | {36}<br />
         # Project Website or Social Media Page:
         | {37}<br />
         # Organization Legal Name:
         | {8}<br />
         # Street Address:
         | {15}<br />
         # City, State Zip:
         | {16}, {11} {17} <br />
         # Country:
         | {9}
         | </p>
         . Coding (subject, population, location)
         | '''Organizational Area of Expertise:''' {38}
         | '''Application Subject Area(s):''' {67}, {65}
         | '''Key Words:''' {131}
         | '''Priority Populations:''' {59}
         | '''Sustainable Development Goals:'''
         | <div style="padding-left: 30px;">{129}</div>
         .. Current Solution Location(s)
         .. Country 1
         | <p style="padding-left: 30px;">
         | '''Country:''' {69}<br />
         | '''State/Province:''' {71}<br />
         | '''Locality:''' {73}
         | </p>
         .. Country 2
         | <p style="padding-left: 30px;">
         | '''Country:''' {75}<br />
         | '''State/Province:''' {77}<br />
         | '''Locality:''' {79}
         | </p>
         .. Country 3
         | <p style="padding-left: 30px;">
         | '''Country:''' {81}<br />
         | '''State/Province:''' {83}<br />
         | '''Locality:''' {85}
         | </p>
         .. Future Work Location(s)
         .. Country 1
         | <p style="padding-left: 30px;">
         | '''Country:''' {99}<br />
         | '''State/Province:''' {101}<br />
         | '''Locality:''' {103}
         | </p>
         .. Country 2
         | <p style="padding-left: 30px;">
         | '''Country:''' {105}<br />
         | '''State/Province:''' {107}<br />
         | '''Locality:''' {109}
         | </p>
         .. Country 3
         | <p style="padding-left: 30px;">
         | '''Country:''' {111}<br />
         | '''State/Province:''' {113}<br />
         | '''Locality:''' {115}
         | </p>
         .. Country 4
         | <p style="padding-left: 30px;">
         | '''Country:''' {117}<br />
         | '''State/Province:''' {119}<br />
         | '''Locality:''' {121}
         | </p>
         .. Country 5
         | <p style="padding-left: 30px;">
         | '''Country:''' {123}<br />
         | '''State/Province:''' {125}<br />
         | '''Locality:''' {127}
         | </p>
         ... Competition Information
         | <p style="padding-left: 30px;">
         | '''Review Number:''' {4}<br />
         | '''Did you apply to the first 100&Change?''' {29}
         | </p>
         ... How did you hear about 100&Change?
         # Hear About:
         | <p style="padding-left: 30px;">
         | {30}
         | </p>
         # Bibliography:
         . {137}
         | {137}
keep_empty: <span style="color: red; font-family: monospace;">[empty]</span>
