---
# We need to know what user we're deploying as, but the reason
# here is complex.  At the base level, we need to know what
# user torquedata should be running as.  But more than that,
# we need to know who to 'become' in the ansible sense when
# we're not becoming root.  The reason we have to specify
# in a different variable than 'ansible_become_user', is
# because that variable overrides task level declarations,
# thereby overriding becoming root for tasks we need to.
# So we store in a different variable and use at the top level
# in main.yml.
deployment_user: ${DEPLOYMENT_USER}

# Directory to install mwlib, and it's cache
#
# This must have a trailing slash.  The reason?  mwlib fails
# if there are two slashes with a really weird zip error
# and how it passes arguments around, and we made the decision
# to omit the slash in the supervisor template.
mwlib_install_directory: ${MWLIB_INSTALL_DIRECTORY}
