[default]
wiki_url: https://torque.leverforchange.org/100Change2017Partners/
username: csv2wiki
password: ### login password for user 'csv2wiki' here ###
title_tmpl: {90}
omit_colophon: true
sec_map: | {{{{ #tdcrender:LFC100Change2017/id/{15}.mwiki }}}}
