<?php
define("TORQUE_CONFIG", 4000);
define("TORQUE_CONFIG_TALK", 4001);
$wgExtraNamespaces[TORQUE_CONFIG] = "TorqueConfig";
$wgExtraNamespaces[TORQUE_CONFIG_TALK] = "TorqueConfig_talk";
$wgNamespaceProtection[TORQUE_CONFIG] = array("edittorqueconfig");
$wgTorqueDataConnectCollectionName = "{{ torquedataconnect_sheet_name }}";
$wgTorqueDataConnectWikiKey = "{{ competition_name }}";
$wgTorqueDataConnectServerLocation = "http://localhost:{{ torquedata_server_port }}";
$wgTorqueDataConnectConfigPage = "TorqueConfig:MainConfig";
$wgTorqueDataConnectNotFoundMessage = "This proposal has been disqualified in admin, peer, or expert review.";
wfLoadExtension('TorqueDataConnect');
$wgAPIMaxResultSize = 1024 * 1024 * 512;
$wgTorqueDataConnectCache = true;
$wgTorqueDataConnectWikiUsername = "{{ mediawiki_csv2wiki_username }}";
$wgTorqueDataConnectWikiPassword = "{{ mediawiki_csv2wiki_password }}";
?>
