---
# We need to know what user we're deploying as, but the reason
# here is complex.  At the base level, we need to know what
# user torquedata should be running as.  But more than that,
# we need to know who to 'become' in the ansible sense when
# we're not becoming root.  The reason we have to specify
# in a different variable than 'ansible_become_user', is
# because that variable overrides task level declarations,
# thereby overriding becoming root for tasks we need to.
# So we store in a different variable and use at the top level
# in main.yml.
deployment_user: ${DEPLOYMENT_USER}

# Where we want to install the simplebook server tools
simplebook_install_directory: ${SIMPLEBOOK_INSTALL_DIRECTORY}

# What version of SimpleBook we want to install
simplebook_git_version: main
