{%- set states = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "District of Columbia", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming", "Puerto Rico"] %}
{%- set results = dict() %}
{%- set globals = { 'max': 1 } %}
{%- for state in states %}
  {%- do results.update({state: 0}) %}
{%- endfor %}
{%- for proposal_id, proposal in Democracy22.items() %}
  {%- if proposal['Organization Location']['State/Province'] in results %}
    {%- set state = proposal['Organization Location']['State/Province'] %}
    {%- if state == "" %}
      {%- set state = proposal['Organization Location']['Locality/District/County'] %}
    {%- endif %}
    {%- do results.update({state: results[state] + 1}) %}
    {%- if results[state] > globals['max'] %}
      {%- do globals.update({'max': results[state]}) %}
    {%- endif %}
  {%- endif %}
{%- endfor %}
{| class="simpleMap" data-settings="applicationsByStateMap"
|-
! Feature
! Overlay Content
! Popup Content
! Fill Color
{%- for state in states %}
{%- if results[state] > 0 %}
|-
| {{ state }}
| <h2>{{state}}</h2>
<b>Application Count:</b> {{ results[state] }}
| <h2>{{state}}</h2>
<b>Application Count:</b> {{ results[state] }}
| rgb({{240 * (1 - results[state] / globals['max'])}}, {{240 * (1 - results[state] / globals['max'])}}, 255)
{%- endif %}
{%- endfor %}
|}
