[default]
wiki_url: https://torque.leverforchange.org/LLIIA2020/
username: ***************
password: ***************
omit_colophon: true
title_tmpl: {143}
sec_map: | {{{{ #tdcrender:LLIIA2020/id/{4}.mwiki }}}}
