{% for proposal in proposals.values() -%}
* Rank {{ proposal['Wise Head Overall Score Rank Normalized'] }} - [[{{ proposal["MediaWiki Title"] -}}]]
    {%- if proposal['Wild Card Eligible'] -%}
        - <span style='color:#306754;font-style: italic>Wild Card Eligible</span>
    {%- endif %}
{% endfor %}
