{% for proposal in proposals.values() -%}
* Rank {{ proposal['Wise Head Overall Score Rank Normalized'] }} - [[{{ proposal["MediaWiki Title"] -}}]]
    {%- if proposal['Wild Card'] -%}
        - <span style='color:#1b08c7;font-style: italic>Wild Card</span>
    {%- endif %}{% if proposal['TR Disqualified'] -%}
        - <span style='color:#ff4a4a;font-style: italic>Disqualified in Tech Review</span>
    {%- endif %}
{% endfor %}
