__TOC__
{% for sdg in sdgs %}
    {%- set proposals_in_group = [] %}
    {%- for proposal_id in sdg['proposal_ids'] %}
        {%- if proposal_id in proposals.keys() %}
            {{- "" if proposals_in_group.append(proposal_id) }}
        {%- endif %}
    {%- endfor %}
    {%- if proposals_in_group|length > 0 %}
<div id='{{ sdg['heading'] }}'></div>
= {{ sdg['heading'] }} ({{ proposals_in_group|length }}) =
        {%- for proposal_id in proposals_in_group %}
* {{ toc_lines[proposal_id] }}
        {%- endfor %}
    {%- endif %}
{%- endfor %}
