__TOC__
{% for sdg in sdgs %}
    {%- set proposals_in_group = [] %}
    {%- for proposal_id in sdg['proposal_ids'] %}
        {%- if proposal_id in proposals.keys() %}
            {{- "" if proposals_in_group.append(proposals[proposal_id]) }}
        {%- endif %}
    {%- endfor %}
    {%- if proposals_in_group|length > 0 %}
= {{ sdg['heading'] }} ({{ proposals_in_group|length }}) =
        {%- for proposal in proposals_in_group %}
* Rank {{ proposal['Wise Head Overall Score Rank Normalized'] }} - [[{{ proposal["MediaWiki Title"] -}}]]
            {%- if proposal['Wild Card'] -%}
                - <span style='color:#306754;font-style: italic>Wild Card</span>
            {%- endif %}{%- if proposal['TR Disqualified'] -%}
                - <span style='color:#ff4a4a;font-style: italic>TR Disqualified</span>
            {%- endif %}
        {%- endfor %}
    {%- endif %}
{%- endfor %}
