[mediawiki]
<host>.com ansible_ssh_user=<username>

[mysql]
<host>.com ansible_ssh_user=<username>

[mwlib]
<host>.com ansible_ssh_user=<username>

[simplesaml]
<host>.com ansible_ssh_user=<username>

[torquedata]
<host>.com ansible_ssh_user=<username>
