[default]
wiki_url: https://wiki.opentechstrategies.com/100Change2020Demo/
username: ***************
password: ***************
title_tmpl: {207}
omit_colophon: true
sec_map: | {{{{ #tdcrender:proposals/id/{4}.mwiki }}}}
