---
# mysql has no root password on this server
mysql_root_password:

db_password: <PASSWORD>
mediawiki_admin_password: <PASSWORD>
mediawiki_mwlib_password: <PASSWORD_WITH_NO_SPACES>
mediawiki_csv2wiki_password: <PASSWORD>

simplesaml_okta_metadata_name: <COMPETITION_NAME>
simplesaml_okta_metadata_url: <SIMPLESAMLURL_FROMMACFOUND>
