__TOC__
{%- for country_name, country_data in groups.items() %}
    {%- for state_name, state_data in country_data["states"].items() %}
        {%- for proposal_id in state_data["proposals"] -%}
                {% if proposal_id in Climate2030.keys() %}
                    {%- if not country_data["shown"] -%}
                        {%- set _ = country_data.update({"shown": True }) %}
= {{ country_name }} =
                    {%- endif -%}
                    {%- if not state_data["shown"] -%}
                        {%- set _ = state_data.update({"shown": True }) %}
== {{ state_name }} ==
{% endif -%}
* {{ toc_lines[proposal_id] }}
{% endif -%}
{% endfor %}
    {%- endfor %}
{%- endfor %}
