[default]
wiki_url: https://torque.leverforchange.org/Climate2030/
username: ***************
password: ***************
omit_colophon: true
title_tmpl: {145}
sec_map: | {{{{ #tdcrender:Climate2030/id/{4}.mwiki }}}}
