__TOC__
{%- for state_name, state_data in groups.items() %}
    {%- for county_name, county_data in state_data["counties"].items() %}
        {%- for proposal_id in county_data["proposals"] -%}
                {% if proposal_id in LoneStar2020.keys() %}
                    {%- if not state_data["shown"] -%}
                        {%- set _ = state_data.update({"shown": True }) %}
= {{ state_name }} =
                    {%- endif -%}
                    {%- if not county_data["shown"] -%}
                        {%- set _ = county_data.update({"shown": True }) %}
== {{ county_name }} ==
{% endif -%}
* {{ toc_lines[proposal_id] }}
{% endif -%}
{% endfor %}
    {%- endfor %}
{%- endfor %}
