[default]
wiki_url: https://wiki.opentechstrategies.com/lfc/
username: ***************
password: ***************
omit_colophon: true
title_tmpl: {207}
sec_map: | {{{{ #tdcrender:proposals/id/{4}.mwiki }}}}
