/* Import web fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

/* Import overrides that can be deployed per torque wiki */
@import url('index.php?action=raw&ctype=text/css&title=MediaWiki:TorqueWikiOverride.css');

/* LFC Style Guide */
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #002D55;
}

.mw-body {
  color: #002D55;
}

.wikitable {
  color: #002D55 !important;
}

.mw-body .snapshot h2 {
  font-size: 1.5em;
}

.mw-body p, .mw-body li {
}

.mw-body-content {
  font-size: 1em;
}

.mw-body h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: #002D55;
  font-size: 2em;
}

#mw-toc-heading {
  font-family: 'Oswald', sans-serif;
  font-weight: medium;
  font-size: 1.5em;
}

#toc {
  font-size:80%;
}

table.wikitable tr {
  background: white;
}

table.wikitable tr th {
  font-family: 'Source Sans Pro', sans-serif !important;
  color: white !important;
  background-color: #0058a4 !important;
}

div.simpleMap {
  height: 800px;
}

.wikitable tr td {
  font-family: 'Source Sans Pro', sans-serif !important;
  color: #002D55 !important;
}

.portal .body li, .vector-menu-portal .body li {
  font-size: .8em;
}

.mw-body-content h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #0058A4;
  font-size: 1.5em;
}

.mw-body h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  color: #00853e;
  font-size: 1.2em;
}

.mw-body h3, .mw-body h4, .mw-body h5, .mw-body h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  color: #0058A4;
}

#mw-panel a, #p-views a, .mw-editsection a, #toc ul a , .toctogglelabel,
.vector-menu-content-list a {
  color: #002d55 !important;
  font-weight: bold;
  border-bottom: none !important;
}
#mw-panel a:hover, #p-views a:hover, .mw-editsection a:hover, #toc a:hover,
.vector-menu-content-list a:hover {
 text-decoration: none;
 color: #0058a4 !important;
 border-bottom: 1px dotted #0058a4 !important;
}
#mw-panel {
  font-size: 100%;
}
.snapshot {
  font-size: 100%;
}
#toc ul a {
  font-weight: 700;
}

.mw-editsection a {
 text-transform: none;
 font-weight: normal;
}


#bodyContent a, #bodyContent a:visited, #bodyContent a:hover {
  color: #902f57;
  border-bottom: 1px dotted #902f57;
  text-decoration: none;
}

/* This disables some of the Special:Log inputs */
.rootpage-Special_Log .mw-usertoollinks {
  display:none;
}
.rootpage-Special_Log .comment {
  display:none;
}
.rootpage-Special_Log .mw-htmlform-field-HTMLTagFilter {
  display:none;
}
.rootpage-Special_Log .mw-htmlform-field-HTMLMultiSelectField {
  display:none;
}
#mw-input-pluggableauthlogin {
  background-color:#9056a9;
}
.mw-htmlform-login-or {margin-top:50px;
  display:flex;
}
.mw-htmlform-login-or:before, .mw-htmlform-login-or:after {
  color:white;
  content:'';
  flex:1;
  border-bottom:2px solid black;
  margin:auto 0.25em;
}
.torque-wrapper .mw-editsection {
  display:none;
}
/* This is required because usually there are long links, and when
 * we use the flexbox layout for editing, the page starts taking over
 * the left menu rather than creating a scrollbar at the bottom.
 */
body {
 overflow-wrap: break-word;
}

.torque-main-content {
  min-width: 750px;
}

/* This line is because there is no way to identify the "snapshot" vs "body" of a
 * proposal right now, so we are using nth-of-type until we modify the template to
 * use classes.
 */
.torque-main-content>div:nth-of-type(2) {
  min-width: 300px;
}

.torque-searchfilters .torque-filterresult {
  position:relative;
}

.torque-searchfilters .torque-filtercount {
  position:absolute;
  display:block;
  text-align:right;
  top:0px;
  width:100%;
  z-index:-1;
}

.mw-body-content .torque-searchfilters h1 {
  margin-top:.1em;
  text-transform: none;
}

.mw-body-content .torque-searchcsv h1 {
  margin-top:.1em;
  text-transform: none;
}

.torque-searchfilters {
  width:200px;
}

@page{
  margin: .75in;
}

/* This block is due to a bug where the content of the return
 * of the onSidebarBeforeOutput in the Vector skin is hidden
 * when that content is just plain html.  It gets assigned
 * the empty-portlet css class, and we must override for our
 * specific code.
 */
#p-View, #p-Emulate {
  display:block;
}

/*
 * This allows us to conditionally disable number on TOCs as needed.
 *
 * See https://www.mediawiki.org/wiki/Manual:Table_of_contents
 */
.noautonum .tocnumber { display: none; }

#p-Emulate .emulategroup-emulating {
  font-size:0.8em;
  overflow:hidden;
  text-overflow:ellipsis;
  width:130px;
  white-space:nowrap;
}

#p-Emulate .emulategroup-selections {
  text-align:center;
}

#p-Emulate select {
  text-overflow: ellipsis;
  width:130px;
}

#p-Emulate input {
  width:100px;
}

#p-Emulate {
  line-height: 1.125em;
}

#p-Emulate .currentlyemulating{
  font-weight:bold;
}

/* Hides the "Printable version" tool.
 * See https://github.com/OpenTechStrategies/torque-sites/issues/131
 */
#t-print {
  display:none;
}

@media print {

  .torque-edit {
    display:none;
  }
  .footer-info {
    display:none;
  }
  .printfooter {
    display:none;
  }
  #footer {
    display:none;
  }
  table {
    page-break-inside:avoid;
  }
  tr {
    page-break-inside:avoid;
  }
  .mw-body h1 {
    font-weight: normal;
  }
  .mw-body h2, .mw-body h3, .mw-body h4, .mw-body h5, .mw-body h6 {
    font-weight: normal;
  }
}
