/* This disables some of the Special:Log inputs */
.rootpage-Special_Log .mw-usertoollinks {
  display:none;
}
.rootpage-Special_Log .comment {
  display:none;
}
.rootpage-Special_Log .mw-htmlform-field-HTMLTagFilter {
  display:none;
}
.rootpage-Special_Log .mw-htmlform-field-HTMLMultiSelectField {
  display:none;
}
#mw-input-pluggableauthlogin {
  background-color:#9056a9;
}
.mw-htmlform-login-or {margin-top:50px;
  display:flex;
}
.mw-htmlform-login-or:before, .mw-htmlform-login-or:after {
  color:white;
  content:'';
  flex:1;
  border-bottom:2px solid black;
  margin:auto 0.25em;
}
.torque-wrapper .mw-editsection {
  display:none;
}
/* This is required because usually there are long links, and when
 * we use the flexbox layout for editing, the page starts taking over
 * the left menu rather than creating a scrollbar at the bottom.
 */
body {
 overflow-wrap: break-word;
}

.torque-main-content {
  min-width: 750px;
}

/* This line is because there is no way to identify the "snapshot" vs "body" of a
 * proposal right now, so we are using nth-of-type until we modify the template to
 * use classes.
 */
.torque-main-content>div:nth-of-type(2) {
  min-width: 300px;
}

@page{
  margin: 50px;
}

/* This block is due to a bug where the content of the return
 * of the onSidebarBeforeOutput in the Vector skin is hidden
 * when that content is just plain html.  It gets assigned
 * the empty-portlet css class, and we must override for our
 * specific code.
 */
#p-View {
  display:block;
}

/* Hides the "Printable version" tool.
 * See https://github.com/OpenTechStrategies/torque-sites/issues/131
 */
#t-print {
display:none;
}

@media print {
  .firstHeading {
    display:none;
  }
  .torque-edit {
    display:none;
  }
  table {
    font-size:8pt;
  }
  div {
    font-size:8pt;
  }
  p {
    font-size:8pt;
  }
  ul {
    font-size:8pt;
  }
  .footer-info {
    display:none;
  }
  .printfooter {
    display:none;
  }
  #footer {
    display:none;
  }
  table {
    page-break-inside:avoid;
  }
  tr {
    page-break-inside:avoid;
  }
}
