[default]
wiki_url: https://torque.leverforchange.org/LoneStar2020/
username: ***************
password: ***************
omit_colophon: true
title_tmpl: {145}
sec_map: | {{{{ #tdcrender:LoneStar2020/id/{4}.mwiki }}}}
