[program:simplebookserver]
directory={{ simplebook_install_directory }}/services/api
user:{{ deployment_user }}
command=pipenv run gunicorn --reload --bind 0.0.0.0:3333 wsgi:app
autostart=true
autorestart=false
autorestart=true
redirect_stderr=true
redirect_stdout=true

[program:simplebookworker]
directory={{ simplebook_install_directory }}/services/api
user:{{ deployment_user }}
command=pipenv run rq worker
autostart=true
autorestart=false
autorestart=true
redirect_stderr=true
redirect_stdout=true

[group:simplebook]
programs=simplebookserver,simplebookworker
