[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2-binary = "*"
django-extensions = "*"
django-torque = ">={{ torque_version }}"

[requires]
python_version = "3.9"
