---
competition_name: <COMPETITION_NAME>

# The sheet that this wiki is going to act on.  Most of the time
# this will be the same as the competition name (above), but sometimes
# this is different when either the competition name doesn't work as
# a sheet name (for instance, if it starts with a number), or if
# this wiki should act on a different sheet.
torquedataconnect_collection_name: <COMPETITION_NAME>

# Root web directory (where symlinks to the mediawiki instances
# are installed)
# e.g. /var/www/html
html_directory: ${HTML_DIRECTORY}

# We need to know what user we're deploying as, but the reason
# here is complex.  At the base level, we need to know what
# user torquedata should be running as.  But more than that,
# we need to know who to 'become' in the ansible sense when
# we're not becoming root.  The reason we have to specify
# in a different variable than 'ansible_become_user', is
# because that variable overrides task level declarations,
# thereby overriding becoming root for tasks we need to.
# So we store in a different variable and use at the top level
# in main.yml.
deployment_user: ${DEPLOYMENT_USER}

# The root password needed to install mysql users
mysql_root_password: ${MYSQL_ROOT_PASSWORD}

# The DB credentials
db_username: ${DB_USERNAME}
db_password: ${DB_PASSWORD}

# Directory to install all of the mediawiki needs
# This must be an absolute path because of weirdness with unarchive
mediawiki_install_directory: ${MEDIAWIKI_INSTALL_DIRECTORY}

# The password for the mediawiki user admin to run automated
# commands against wikis (such as csv2wiki, setup, etc)
mediawiki_admin_password: ${MEDIAWIKI_ADMIN_PASSWORD}

# The user and password for the mwlib pdf printing process
#
# The password must not have spaces.
mediawiki_mwlib_username: mwlib
mediawiki_mwlib_password: ${MEDIAWIKI_MWLIB_PASSWORD}

# The user and password for loading the wiki externally
# using csv2wiki in coordination with the LFC repository
mediawiki_csv2wiki_username: csv2wiki
mediawiki_csv2wiki_password: ${MEDIAWIKI_CSV2WIKI_PASSWORD}

# The user and password for (local) torque administration
mediawiki_torqueadmin_username: torqueadmin
mediawiki_torqueadmin_password: ${MEDIAWIKI_TORQUEADMIN_PASSWORD}

# Directory to install simplesaml
simplesaml_install_directory: ${SIMPLESAML_INSTALL_DIRECTORY}

# The metadata declaration, in the form of key => location.  The METADATA_NAME should
# correspond to the single sign on url you have set up in okta, which will be of the form
# http://<installationbox>/simplesaml/module.php/saml/sp/saml2-acs.php/__METADATA_NAME__
#
# Then the URL here should be the metadata url you receive from okta when looking at
# your application settings for "Identity Provider metadata"
#
# See https://developer.okta.com/code/php/simplesamlphp/ for more information
simplesaml_okta_metadata_name: ${SIMPLESAML_OKTA_METADATA_NAME}
simplesaml_okta_metadata_url: ${SIMPLESAML_OKTA_METADATA_URL}

# See https://www.mediawiki.org/wiki/Manual:$wgServer, as it suggests
# that localhost is not used unless you are running locally only
mediawiki_server: http://localhost
