{%- for proposal_id in proposal_ids %}
    {%- if proposal_id in EO2020.keys() -%}
* {{ toc_lines[proposal_id] }}
{% for attachment in EO2020[proposal_id]['Attachments'] -%}
{%- if  EO2020[proposal_id]['Attachment Display Names'][loop.index0] != "Application" -%}
** <span class="plainlinks">[{{ "{{" }}fullurl:Special:TorqueDataConnectAttachment|sheet_name=EO2020&id={{proposal_id}}&attachment={{ attachment | replace(" ", "+") | urlencode }}{{ "}}" }} {{ EO2020[proposal_id]['Attachment Display Names'][loop.index0] }}]</span>
{% endif -%}
{% endfor %}
    {%- endif %}
{% endfor %}
